<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/hootguard/hg-favicon.ico" type="image/x-icon">
    <title>Error</title>
    <link rel="stylesheet" href="hootguard/css/hg-styles.css">
    <link rel="stylesheet" href="hootguard/css/hg-footer-nav.css">
    <link rel="stylesheet" href="hootguard/css/hg-fonts.css">
    <link rel="stylesheet" href="hootguard/css/all.css">    
</head>
<body>
<!-- NAVIGATION PLACEHOLDER - START -->
    <div id="navigation-placeholder"></div>
<!-- NAVIGATION PLACEHOLDER - END -->

<!-- MAIN CONTENT - START -->
    
    <div class="container">
        <div class="frame">
            <center>
                <i class="fa-regular fa-face-sad-tear" style="font-size: 48px;"></i>
                <h1>We've Encountered an Error</h1>
                <p>Unfortunately, we're unable to process your request at the moment. Please try again.</p>
                <p>If this issue persists, kindly contact us at support[at]hootguard.com. Please include a brief description of the problem and, if possible, any screenshots.</p>
                <button onclick="history.back()" class="btn-save">Go Back</button>
            </center>
        </div>
    </div>
<!-- MAIN CONTENT - END -->

<!-- FOOTER PLACEHOLDER - START -->
    <div id="footer-placeholder"></div>
<!-- FOOTER PLACEHOLDER - END -->

    <script src="/hootguard/components/loadComponents.js"></script>
</body>
</html>
