<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/hootguard/hg-favicon.ico" type="image/x-icon">
    <title>Initial Setup</title>
    <link rel="stylesheet" href="hootguard/css/hg-styles.css">
    <link rel="stylesheet" href="hootguard/css/hg-footer-nav.css">
    <link rel="stylesheet" href="hootguard/css/hg-fonts.css">
    <link rel="stylesheet" href="hootguard/css/all.css">
    <style>
            .fa-spinner {
                display: none;
                animation: spin 1s linear infinite;
            }
            @keyframes spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
        }
        .hrsep {
                border: none;
                height: 1px;
                background-color: #333333;
                margin-top: 30px;
                margin-bottom: 30px;
                width: 100%;
        }
        .section-text {
                text-align: left;
                margin-top: 15px;
                margin-bottom: 15px;
        }
        .form-group {
            margin-bottom: 1.0em;
        }
        .checkbox-style {
                margin-top: -1.8em;
        }
        input[type="checkbox"] {
                display: inline-block !important;
        }
        .btn-accept {
            padding: 5px 14px;
            margin: 15px 0;
            background-color: #FFFF00;
            color: #000000;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }
        .btn-accept:hover {
            background-color: #FDD835;
        }
        .btn-accept:active {
            background-color: #F9A825;
        }
    </style>
</head>
<body>
<!-- NAVIGATION PLACEHOLDER - START -->
<!--    <div id="navigation-placeholder"></div> -->
<!-- NAVIGATION PLACEHOLDER - END -->

<!-- MAIN CONTENT - START -->

    <div class="container">

        <h1>
                <span style="font-size: 1.4em;">Welcome to HootGuard</span>
                <br>
                <span style="font-size: 1.1m;">Initial Setup</span>
        </h1>

        <p>Follow the steps below to easily set up your HootGuard Sentry.</p>

        <form id="initial-settings-form" action="/initial_setup_run" method="post">

                <hr class="hrsep">
                <div style="font-size: 1.2em; font-weight: bold;">
                        <u>1. Network Settings</u>
                </div>

                <div class="explain-text section-text">
                        To ensure HootGuard Sentry runs smoothly on your home network, it needs a static IP address that matches your network settings. Please provide an appropriate IP address, subnet mask, and standard gateway below. If you're unsure, you can find these details in your router's configuration.
                </div>

                <div class="explain-text" style="text-align: right; width: 100%;">
                        <table style="border: 0.5px solid grey; padding: 5px; margin-left: auto; margin-right: 0; text-align: center;">
				<tr><td>
					<strong><u>Network Settings Suggestions</u></strong>
                                        <div style="font-size: 0.8em">
						This IP is suggested based on a simple ping and may not be free.
                                        </div>
					<div style="margin-top: 15px;">
		       				IP Address: <span id="suggested-ip" class="status-highlight">{{ suggested_ip }}</span>
					        &nbsp;<strong>|</strong>&nbsp;
						Subnet Mask: <span id="suggested-subnet" class="status-highlight">{{ subnet_mask }}</span>
					        &nbsp;<strong>|</strong>&nbsp;
					        Gateway: <span id="suggested-gw" class="status-highlight">{{ standard_gw }}</span>
                                		<div align="right">
                                			<button type="button" id="apply-suggested-ip" class="btn-accept" style="font-size: 0.9em;">Accept Suggestion</button>
		                                </div>	
					</div>
				</td></tr>
  			</table>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                        <label for="ip-address">IP Address:</label>
                        <input type="text" id="ip-address" name="ip_address" placeholder="e.g. 192.168.0.100" required>

                        <label for="subnet-mask">Subnet Mask:</label>
                        <input type="text" id="subnet-mask" name="subnet_mask" placeholder="e.g. 255.255.255.0" required>

                        <label for="standard-gateway">Standard Gateway:</label>
                        <input type="text" id="standard-gateway" name="standard_gateway" placeholder="e.g. 192.168.0.1" required>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </div>

                <hr class="hrsep">

                <div style="font-size: 1.2em; font-weight: bold;">
                        <u>2. Password</u>
                </div>
                <div class="explain-text section-text">
                        To keep your HootGuard Sentry secure, please set a password below. This password will also be used for accessing the Pi-hole interface, in case you want to have a closer look at the DNS blocker.
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                        <label for="new-password">New Password:</label>
                        <input type="password" id="new-password" name="new_password" maxlength="30" placeholder="Enter new password" required>

                        <label for="confirm-password">Confirm New Password:</label>
                        <input type="password" id="confirm-password" name="confirm_password" maxlength="30" placeholder="Confirm new password" required>
                </div>

                    <div class="checkbox-style">
                        <input type="checkbox" id="show-passwords" onclick="togglePasswords()">
                        <label for="show-passwords">Show Password</label>
                    </div>

                <hr class="hrsep">

                <div style="font-size: 1.2em; font-weight: bold;">
                        <u>3. Save Settings and Reboot</u>
                </div>
                <div class="explain-text section-text">
                        Review your settings, and if everything looks good, click the button below to apply them.
                </div>
                <button type="submit" id="submit-button" class="btn-save">Save Settings & Reboot <i class="fa-solid fa-spinner"></i></button>
        </form>

    </div>

<!-- FOOTER PLACEHOLDER - START -->
    <div id="footer-placeholder"></div>
<!-- FOOTER PLACEHOLDER - END -->


    <script src="/hootguard/components/loadComponents.js"></script>
        <script>
/* IP ADDRESS SUGGESTION BELOW ---*/
	document.getElementById("apply-suggested-ip").addEventListener("click", function() {
        	document.getElementById("ip-address").value = document.getElementById("suggested-ip").textContent.trim();
	        document.getElementById("subnet-mask").value = document.getElementById("suggested-subnet").textContent.trim();
        	document.getElementById("standard-gateway").value = document.getElementById("suggested-gw").textContent.trim();
	});

/* --- IP ADDRESS PART BELOW --- */

                function isValidFormat(str) {
                        const blockRegExp = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
                        return blockRegExp.test(str);
                }

                document.getElementById("ip-address").addEventListener("input", function() {
                        if (!isValidFormat(this.value)) {
                                this.setCustomValidity("Invalid IP Address. Please enter a value like 192.168.0.100");
                        } else {
                                this.setCustomValidity("");
                        }
                });

                document.getElementById("subnet-mask").addEventListener("input", function() {
                        if (!isValidFormat(this.value)) {
                                this.setCustomValidity("Invalid Subnet Mask. Please enter a value like 255.255.255.0");
                        } else {
                                this.setCustomValidity("");
                        }
                });

                document.getElementById("standard-gateway").addEventListener("input", function() {B
                        if (!isValidFormat(this.value)) {
                                this.setCustomValidity("Invalid IP Address. Please enter a value like 192.168.0.1");
                        } else {
                                this.setCustomValidity("");
                        }
                });

                document.getElementById("initial-settings-form").addEventListener("submit", function(event) {
                        // Validate passwords
                        if (!validateAndConfirmPasswords()) {
                            event.preventDefault(); // Prevent form submission if passwords do not match
                            return;
                        }
                        const ipInput = document.getElementById("ip-address");
                        const subnetInput = document.getElementById("subnet-mask");
                        const gatewayInput = document.getElementById("standard-gateway");

                        if (!isValidFormat(ipInput.value) || !isValidFormat(subnetInput.value)) {
                                event.preventDefault();
                                alert("Please enter valid IP Address, Subnet Mask and Standard Gateway in the format xxx.xxx.xxx.xxx, where xxx is a number from 0 to 255.");
                        } else {
                                event.preventDefault(); // Prevent form from submitting immediately
                                if (confirm("The system will restart now and after the restart, you will have to reconnect via the login page. Do you want to proceed?")) {
                                        showLoadingSpinner();
                                        this.submit(); // Submit the form if the user confirms
                                }
                        }
                });

/* --- PASSWORD PART BELOW --- */

                function validateAndConfirmPasswords() {
                        var newPassword = document.getElementById("new-password").value;
                        var confirmPassword = document.getElementById("confirm-password").value;

                        if (newPassword !== confirmPassword) {
                                alert("Passwords do not match. The passwords you entered are not identical, please check your passwords, they must be identical to move on.");
                                return false;
                        }

                        return true // No confirmation here, just validate and return true if passwords match
                }

                function showLoadingSpinner() {
                        document.querySelector('form').addEventListener('submit', function() {
                                const submitButton = document.getElementById('submit-button');
                                const cancelButton = document.getElementById('cancel-button');
                                const spinner = submitButton.querySelector('.fa-spinner');
                                // Show spinner and hide Login text
                                spinner.style.display = 'inline-block';
                                submitButton.childNodes[0].nodeValue = ' ';
                                submitButton.disabled = true; // Disable submit button
                                cancelButton.disabled = true; // Disable cancel button
                        });
                }

                function togglePasswords() {
                        var newPassword = document.getElementById("new-password");
                        var confirmPassword = document.getElementById("confirm-password");
                        var checkbox = document.getElementById("show-passwords");

                        if (checkbox.checked) {
                                newPassword.type = "text";
                                confirmPassword.type = "text";
                        } else {
                                newPassword.type = "password";
                                confirmPassword.type = "password";
                        }
                }
    </script>

</body>
</html>
