<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/hootguard/hg-favicon.ico" type="image/x-icon">
    <title>Password Settings</title>
    <link rel="stylesheet" href="hootguard/css/hg-styles.css">
    <link rel="stylesheet" href="hootguard/css/hg-footer-nav.css">
    <link rel="stylesheet" href="hootguard/css/hg-fonts.css">
    <link rel="stylesheet" href="hootguard/css/all.css">
    <style>
    .fa-spinner {
        display: none;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    .form-group {
	margin-bottom: 2.0em;
    }
    .checkbox-style {
	margin-top: -1.8em;
    }
    input[type="checkbox"] {
    	display: inline-block !important;
    }
    
    </style>
</head>
<body>
<!-- NAVIGATION PLACEHOLDER - START -->
    <div id="navigation-placeholder"></div>
<!-- NAVIGATION PLACEHOLDER - END -->

<!-- MAIN CONTENT - START -->
    
    <div class="container">
        <h1>Password Settings</h1>
        <div class="explain-text">
            To update your password, input your new password in the space provided below. For verification purposes, you'll need to enter your password again to confirm it's correct.
            Once you have successfully input your password, click on the "Change Password and Reboot" button. Following this action, your HootGuard Sentry will undergo a reboot.
            After the reboot, you will be able to access the /settings and /admin pages using your newly set password.
        </div>
        
        <form class="frame" id="change-password-form" action="/password_change" method="post" onsubmit="return validateAndConfirmPasswords()">
            <div class="form-group">
		<label for="new-password">New Password:</label>
		<input type="password" id="new-password" name="new_password" maxlength="30" placeholder="Enter new password" required>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
	    </div>
	    <div class="form-group">
		<label for="confirm-password">Confirm New Password:</label>
		<input type="password" id="confirm-password" name="confirm_password" maxlength="30" placeholder="Confirm new password" required>
	    </div>
            <div class="checkbox-style">
                <input type="checkbox" id="show-passwords" onclick="togglePasswords()">
                <label for="show-passwords">Show Password</label>
            </div>

            <div class="btn-group">
                <button type="button" id="cancel-button" class="btn-clear" onclick="window.location='/home';">Discard Password Change</button>
                <button type="submit" id="submit-button" class="btn-save">Change Password & Reboot <i class="fa-solid fa-spinner"></i></button>
            </div>
        </form>
        
        <br><br>

        <div class="note">
            <strong>Please note:</strong> In the event that you forget your password, you have the option to reset it back to the default password by pressing the reset button located on the side of your HootGuard Sentry. You can find the default password on your HootGuard Sentry. However, be aware that using the reset button will also change the IP address settings back to DHCP configuration.
        </div>
    </div>

<!-- FOOTER PLACEHOLDER - START -->
    <div id="footer-placeholder"></div>
<!-- FOOTER PLACEHOLDER - END -->

    <script src="/hootguard/components/loadComponents.js"></script>
    <script>
    function validateAndConfirmPasswords() {
        var newPassword = document.getElementById("new-password").value;
        var confirmPassword = document.getElementById("confirm-password").value;

        if (newPassword !== confirmPassword) {
            alert("Passwords do not match. The passwords you entered are not identical, please check your passwords, they must be identical to move on.");
            return false;
        }

        var confirmReboot = confirm("The system will reboot now. After the reboot, you can reconnect via the login link. Do you want to proceed?");
        if (confirmReboot) {
            showLoadingSpinner();
            return true;
        } else {
            return false;
        }
    }

    function showLoadingSpinner() {
        document.querySelector('form').addEventListener('submit', function() {
            const submitButton = document.getElementById('submit-button');
            const cancelButton = document.getElementById('cancel-button');
            const spinner = submitButton.querySelector('.fa-spinner');
            // Show spinner and hide Login text
            spinner.style.display = 'inline-block';
            submitButton.childNodes[0].nodeValue = ' ';
            submitButton.disabled = true; // Disable submit button
            cancelButton.disabled = true; // Disable cancel button
        });
    }

    function togglePasswords() {
        var newPassword = document.getElementById("new-password");
        var confirmPassword = document.getElementById("confirm-password");
        var checkbox = document.getElementById("show-passwords");

        if (checkbox.checked) {
            newPassword.type = "text";
            confirmPassword.type = "text";
        } else {
            newPassword.type = "password";
	    confirmPassword.type = "password";
        }
    }
    </script>
</body>
</html>
