<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/hootguard/hg-favicon.ico" type="image/x-icon">
    <title>Dynu DDNS Settings</title>
    <link rel="stylesheet" href="hootguard/css/hg-styles.css">
    <link rel="stylesheet" href="hootguard/css/hg-footer-nav.css">
    <link rel="stylesheet" href="hootguard/css/hg-fonts.css">
    <link rel="stylesheet" href="hootguard/css/all.css">
    <style>
        .hrsep {
                border: none;
                height: 1px;
                background-color: #333333;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
        }
        summary {
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        summary:hover {
            color: lightgrey;
        }
        .details-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        }
        .fa-spinner {
            display: none;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        .button-size {
             width: 310px;
        }
    </style>
</head>
<body>
<!-- NAVIGATION PLACEHOLDER - START -->
    <div id="navigation-placeholder"></div>
<!-- NAVIGATION PLACEHOLDER - END -->

<!-- MAIN CONTENT - START -->
    
    <div class="container">
        <h1>Dynu DDNS Settings</h1>
        <div class="explain-text">
            To integrate your own Dynu account with HootGuard Sentry, kindly complete the form below, verify its accuracy, and then save your settings. Following this, the system will reboot to apply the new configurations.
        </div>
	<br>
	<div class="explain-text">
		<i>We would like to remind you that the use of a Dynu account signifies your acceptance of Dynu's Terms of Use. For a full understanding of these terms and the Privacy Statement, we encourage you to visit the dynu.com website. Please note that HootGuard operates independently of Dynu and that any concerns or obligations related to Dynu's Terms of Use do not fall under our authority.</i>
	</div>

	<br>

	<hr class="hrsep">
        <details id="details-ipv6">
        <summary>
                IP ADDRESS VERSION 6
                <div class="explain-text"> Recommanded </div>
        </summary>
        <div class="details-content">

	<br>

	<div class="table-settings">
	    <table>
		<thead>
		    <tr>
			<th colspan="2">Current Dynu DDNS Configuration (IPv6)</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>
                            <span class="small-text">Domain</span>
                            <br>
                            <span class="status-highlight">{{current_ipv6_domain}}</span>
                            <hr>
			    <span class="small-text">Password</span> 
			    <br>
			    <span class="status-highlight">{{current_ipv6_password}}</span>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>	

	<form class="frame" id="ip-settings-form-ipv6" action="/ddns_activate_user_dynu_ipv6" method="post" onsubmit="showSpinners(event)">
		<div class="section">
		
                        <label for="domain-ipv6">Domain:</label>
                        <input type="text" id="domain-ipv6" name="domain-ipv6" placeholder="e.g. yourname.dnsfree.com" title="Please enter a valid domain, e.g., yourname.ipv64.net" required>

			<label for="password-ipv6">Password (MD5 Hash):</label>
			<input type="text" id="password-ipv6" name="password-ipv6" placeholder="e.g. cc03e747a6afbbcbf8be7668acfebee5" pattern="[A-Za-z0-9]{32,128}" title="Please enter a valid hash (32 to 128 characters, alphanumeric only)." required>

			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

			<div class="btn-group">
				<button type="button" class="btn-clear" onclick="document.getElementById('domain-ipv6').value='';document.getElementById('password-ipv6').value=''">Clear IPv6 Configuration</button>
				<button type="submit" class="btn-save button-size">Save & Activate IPv6 Configuration <i class="fa-solid fa-spinner"></i></button>
			</div>	
		</div>
	</form>
	<div class="note">
		<strong>Password:</strong>  Please visit the Dynu.com website to determine the password you will use. We recommend setting an "IP Update Password" in the Credential Manager and using the MD5 hash function provided by Dynu.com to generate a secure hash for this password.. <br>
	</div>
	</div>
	</details>        

        <hr class="hrsep">
        <details id="details-ipv4">
        <summary>
                IP ADDRESS VERSION 4
                <div class="explain-text"> Ensure your ISP does not use shared address space (CGNAT / LSN) </div>
        </summary>
        <div class="details-content">

        <br>

        <div class="table-settings">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Current Dynu DDNS Configuration (IPv4)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="small-text">Domain</span>
                            <br>
                            <span class="status-highlight">{{current_ipv4_domain}}</span>
                            <hr>
                            <span class="small-text">Password</span>
                            <br>
                            <span class="status-highlight">{{current_ipv4_password}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form class="frame" id="ip-settings-form" action="/ddns_activate_user_dynu_ipv4" method="post" onsubmit="showSpinners(event)">
                <div class="section">

                        <label for="domain">Domain:</label>
                        <input type="text" id="domain" name="domain" placeholder="e.g. yourname.ipv64.net" pattern="^([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$" title="Please enter a valid domain, e.g., yourname.ipv64.net" required>

                        <label for="password">Password:</label>
                        <input type="text" id="password" name="password" placeholder="e.g. dd98e747a6afsscb5ube8jj8acfbhuu8" pattern="[A-Za-z0-9]{32,128}" title="Please enter a valid hash (32 to 128 characters, alphanumeric only)." required>

			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="btn-group">
                                <button type="button" class="btn-clear" onclick="document.getElementById('domain').value='';document.getElementById('password').value=''">Clear IPv4 Configuration</button>
                                <button type="submit" class="btn-save button-size">Save & Activate IPv4 Configuration <i class="fa-solid fa-spinner"></i></button>
                        </div>
                </div>
        </form>
	<div class="note">
		<strong>Password:</strong> Please visit the Dynu.com website to determine the password you will use. We recommend setting an "IP Update Password" in the Credential Manager and using the MD5 hash function provided by Dynu.com to generate a secure hash for this password. <br>
	</div>
        </div>
        </details>

        <hr class="hrsep">

        <br><br>

        <div class="explain-text">
                <p>To connect your Dynu account with HootGuard Sentry, please ensure you have a valid Dynu account and that a subdomain was already set up properly. Only pre-existing subdomains can be updated by HootGuard. Once your IPv64 subdomain is properly set up, complete the form below, verify all details, and save your settings.</p>
        </div>
    </div>

<!-- FOOTER PLACEHOLDER - START -->
    <div id="footer-placeholder"></div>
<!-- FOOTER PLACEHOLDER - END -->


    <script src="/hootguard/components/loadComponents.js"></script>
    <script>
    // Trim and sanitize input
    document.addEventListener("DOMContentLoaded", function() {
        var inputs = document.querySelectorAll("input[type='text']");
        inputs.forEach(function(input) {
            input.addEventListener("change", function() {
                this.value = this.value.trim(); // Remove leading and trailing spaces
                this.value = this.value.replace(/</g, "&lt;").replace(/>/g, "&gt;"); // Sanitize input
            });
        });
    });

        // Get all the details elements
        const detailsElements = document.querySelectorAll('details');

        detailsElements.forEach((detail) => {
            detail.addEventListener('toggle', function() {
                // Close all other details except the one that was just toggled open
                if (this.open) {
                    detailsElements.forEach((otherDetail) => {
                        if (otherDetail !== this) {
                            otherDetail.removeAttribute('open');
                        }
                    });
                }
            });
        });

    function showSpinners(event) {
        event.preventDefault(); // Prevent default form submission temporarily

        // Get all submit buttons
        const submitButtons = document.querySelectorAll('.btn-save');

        // Loop through each button, activate its spinner and disable it
        submitButtons.forEach((button) => {
            const spinner = button.querySelector('.fa-spinner');
            spinner.style.display = 'inline-block'; // Show the spinner
            button.childNodes[0].nodeValue = ''; // Clear button text
            button.disabled = true; // Disable the button
        });

        // Submit the form that triggered the event after showing spinners
        event.target.submit();
    }
    </script>
    
</body>
</html>
