<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/hootguard/hg-favicon.ico" type="image/x-icon">
    <title>Rebooting...</title>
    <link rel="stylesheet" href="hootguard/css/hg-styles.css">
    <link rel="stylesheet" href="hootguard/css/hg-footer-nav.css">
    <link rel="stylesheet" href="hootguard/css/hg-fonts.css">
    <link rel="stylesheet" href="hootguard/css/all.css">
    <style>
        .container {
            text-align: center;
            margin-top: 20vh;
            padding: 0 10px;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container frame">
	<br>
        <div>
	    <img src="hootguard/HootGuard-Logo-White_500x210.png" alt="HootGuard Logo" width="130" height="55">
        </div>
        <h1>System is rebooting...</h1>
        <p>
            Restarting the system usually takes less than a minute. 
            Please wait this time and then click <strong><a href="http://hootguard.local"><u>here</u></a></strong> to log back into the system.
        </p>
    </div>
</body>
</html>
