[Unit]
Description=Synchronize System Time with NTP Servers
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/hootguard/main/
ExecStart=/usr/bin/python3 -m scripts.ntp_update
Environment="PATH=/usr/sbin:/usr/bin:/sbin:/bin"
User=hootguard
Group=hootguard

[Install]
WantedBy=multi-user.target
